<!DOCTYPE html>
<html>
<head>
  <title>Yale Digest</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
	<p class="container">&copy; Yale Digest 2013. By <a href="mailto:earl.lee@yale.edu">Earl</a> &amp; <a href="mailto:shenil.dodhia@yale.edu">Shenil</a>. Built with love from TD.</p>
</footer>

<script src="http://code.jquery.com/jquery.js"></script>
	<script>
$(document).ready(function(){ 

		$("#search").keyup(function(){

		// Retrieve the input field text and reset the count to zero
		var filter = $(this).val(), count = 0;
		if(!filter){
			$("#board ol li").show();
			return;
		}

		var regex = new RegExp(filter, "i"); 

		// Loop through the comment list
		$(".listing li").each(function(){

		// If the list item does not contain the text phrase fade it out
		if ($(this).text().search(regex) < 0) { 
		$(this).fadeOut();

		// Show the list item if the phrase matches and increase the count by 1
		} else {
		$(this).fadeIn();
		count++;
		}
		});

		// Update the count
		var numberItems = count;
		});

		$("[id^=link]").click(function(e) { 
			e.preventDefault(); 
		});

		var notallowed = new Array();
  $('#showAll').on('click', function(e){
      e.preventDefault();
          $('.dropdown').addClass('open');
      if ($('input:checked').length === 0) {
console.log('ajksdhfhjkfdhk')
        $(this).html('Hide All');
        $('input[type="checkbox"]').prop('checked', true);
        $('#board ol li').fadeIn();
        notallowed = new Array();
      } else {
        console.log('here');
        $(this).html('Show All');
        $('input[type="checkbox"]').removeAttr('checked');
        $('#board ol li').fadeOut();
        $('input:checked').each(function(){
          var filter = $(this).attr('id');
          notallowed.push(filter);
        })
      }
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
  });

  $(':checkbox').on('click', function(e){
    var filter = $(this).attr('id');
    $('.dropdown').addClass('open');
    if (notallowed.indexOf(filter) > -1) {
      notallowed.splice(notallowed.indexOf(filter), 1);
      $('#board ol li').filter('.' + filter).fadeIn();
    } else {
      notallowed.push(filter);
      $('#board ol li').filter('.' + filter).fadeOut();
    }	
    if (notallowed.length != 0)
      $('#showAll').html('Show All');
    else
      $('#showAll').html('Hide All');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
    $('.dropdown').addClass('open');
  });

  //$('#showAll').click(function(){
  //        $('#board ol li').fadeIn();
  //        notallowed = new Array();
  //});
});
</script>
</body>
</html>
