<!DOCTYPE html>
<html>
<head>
  <title>Yale Digest</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
	<p class="container">&copy; Yale Digest 2013. By <a href="mailto:earl.lee@yale.edu">Earl</a> &amp; <a href="mailto:shenil.dodhia@yale.edu">Shenil</a>. Built with love from TD.</p>
</footer>

<script src="http://code.jquery.com/jquery.js"></script>
	<script>
$(document).ready(function(){ 

		$("#search").keyup(function(){

		// Retrieve the input field text and reset the count to zero
		var filter = $(this).val(), count = 0;
		if(!filter){
			$("#board ol li").show();
			return;
		}

		var regex = new RegExp(filter, "i"); 

		// Loop through the comment list
		$(".listing li").each(function(){

		// If the list item does not contain the text phrase fade it out
		if ($(this).text().search(regex) < 0) { 
		$(this).fadeOut();

		// Show the list item if the phrase matches and increase the count by 1
		} else {
		$(this).show();
		count++;
		}
		});

		// Update the count
		var numberItems = count;
		});

		$("[id^=link]").click(function(e) { 
			e.preventDefault(); 
		});

		$('#filters a').click(function(e){

			//prevent the default behaviour of the link
			e.preventDefault();
			//get the id of the clicked link which is equal to classes of our content
			var filter = $(this).attr('id');

			//show all the list items(this is needed to get the hidden ones shown)
			$('#board ol li').show();

			/*using the :not attribute and the filter class in it we are selecting
			only the list items that don't have that class and hide them '*/
			if (filter != "showall")
				$('#board ol li:not(.' + filter + ')').hide();

		});
		});
</script>
</body>
</html>
